html,body{
	width: 100%;
 	height: 100%;
	background: url("background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	font-family: 'Edu NSW ACT Foundation', cursive;
}
.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
h1{
	font-size: 3em;
	border-bottom: 2px solid pink;
	border-right: 2px solid pink;
	width: 400px;
	text-align: center;
	box-shadow: 5px 5px 5px #888888;
	margin-top: 10px;
}
img{
	width: 260px;
	height: 300px;
	margin: 10px;
	transition: all 1s;
}
img:hover {
	transform: scale(1.1);
}