html,body{
	width: 100%;
 	height: 100%;
	background: url("background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	font-family: 'Edu NSW ACT Foundation', cursive;
}

h1{
	color: #807D82;
	font-size: 50px;
	text-shadow: 1px 1px purple;

}

h2{
	font-size: 25px;
	color: #807D82;
	text-shadow: 1px 1px purple;
}

h3{
	font-size: 25px;
	color: #807D82;
	text-shadow: 1px 1px #634075;
}
.bordura{
	margin-top: 150px;
	margin-right: 110px;
	margin-left: 110px;
	text-align: center;
	font-size: 22px;
	color: purple;
	border: 2px dashed rgba(99, 67, 114, 0.5);
	text-shadow: 1px 1px white;
}
a{
	color: grey;
}